<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header class="banner">
        <div class="logo">
			<img src="{{ url_for('static', filename='logo4.png') }}" alt="Business Logo" class="logo-image">
            <h1>Health Analyzer</h1>
        </div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <h2>About Us</h2>
        <p>This is a placeholder for the About Us page. Here, you can provide information about your website, the mission behind it, and what users can expect.</p>
        <p>Feel free to edit and replace this dummy content with actual details of your team, services, and other relevant information that showcases your brand.</p>
    </div>
</body>
</html>
