<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header class="banner">
        <div class="logo">
			<img src="{{ url_for('static', filename='logo4.png') }}" alt="Business Logo" class="logo-image">
            <h1>Health Analyzer</h1>
        </div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <h2>Contact Us</h2>
        <p>This is a placeholder for the Contact Us page. Here, you can provide ways for users to reach out to you for inquiries or support. Consider including:</p>
        <ul>
            <li>Email addresses</li>
            <li>Phone numbers</li>
            <li>Social media links</li>
            <li>Customer service hours</li>
        </ul>
    </div>
</body>
</html>
